<!--<p>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Toggle
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        You can collapse this card by clicking Toggle
      </div>
    </div>
  </div>
<!--<div class="#accordion" *ngFor = "let movie of movies, let i = index">
  <div class="card">
      <div class="card-header" id="heading+i">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="movie.collapse" data-target="#collapse+i" aria-expanded="false" aria-controls="collapse+i">
              {{i}} {{movie.movie_title}}
          </button>
        </h5>
      </div>
      <div id="collapse+i" class="movie.collapse" aria-labelledby="heading+i" data-parent="#accordion">
        <div class="card-body">
            <ol>
                <li>{{movie.director_name}}</li>
                <li>{{movie.actor_1_name}}</li>
                <li>{{movie.actor_2_name}}</li>
                <li>{{movie.genres}}</li>
                </ol>
                </div>
      </div>
    </div>
</div>-->
